<!DOCTYPE html>
<html lang="en">
	<head>
		<title>cookie4.me</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-social.css">
		<link rel="stylesheet" type="text/css" href="../static/css/css.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel='shortcut icon' href='../static/favicon.ico' type='image/x-icon'/ >
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="#"><p class="bebas">cookie4.<b>me</b></p></a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					{% if g.user.is_authenticated %}
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul>
			  </div>
			</nav>
			<!--<div class="page-header">-->
				<!--<img src="../static/cookie.png" width="70.3" height="63.75">-->
				<!--<small><p>how many cookies can <b>you</b> eat?</p></small>-->
			<!--</div>-->
			<center>
			<hr>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
			</center>
			{% block content %}{% endblock %}
			
			<!--<script type="text/javascript">
			var clicks = 0;
			function onClick() {
				clicks += 1;
				document.getElementById("clicks").innerHTML = clicks;
			};
			$.get( "/getmethod/<javascript_data>" );
			</script>
			<button type="button" onClick="onClick()">Click me</button>
			<p>Clicks: <a id="clicks">0</a></p>-->
		</div>
	</body>
</html>